<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/insertData" method="" POST>
        <input type="text" name="name" placeholder="Customer Name: " />
        <input type="text" name="mob" placeholder="Mobile Number: " />
        <input type="email" name="email" placeholder="Email Id: " />
        <input type="text" name="balance" placeholder="Opening Balance">
        <button>submit</button>
    </form>
</body>

</html>